     html,
     body {
         height: 100%;
     }
     
     #container {
         min-width: 100%;
         min-height: 100%;
         background: repeating-linear-gradient(0deg, rgba(50, 50, 50, .8), rgba(50, 50, 50, .8) 3px, rgba(100, 100, 100, .8) 3px, rgba(100, 100, 100, .8) 6px);
     }
     
     #calcContainer {
         display: flex;
         justify-content: center;
         align-content: center;
         flex-wrap: wrap;
         padding: 4px;
         width: 320px;
         #height: 470px;
         margin: 60px auto 60px auto;
         background: radial-gradient(rgb(70, 70, 70), rgb(40, 40, 40));
         border-radius: 10px;
         box-shadow: 10px 10px 5px rgb(70, 70, 70);
     }
     
     #display {
         background-color: black;
         height: 75px;
         width: 306px;
         margin: 1px 1px 1px 1px;
         padding: 0px 2px 0px 2px;
         border-radius: 10px;
     }
     
     .numberBtn,
     .operatorBtn,
     .zeroBtn,
     .decimalBtn,
     .dblButton,
     .clrButton {
         height: 75px;
         margin: 1px 1px 1px 1px;
         text-align: center;
         line-height: 75px;
         border: 1px solid rgb(0, 0, 0);
         font-size: 24px;
         border-radius: 10px;
         color: black;
         text-shadow: 1px 1px 1px #404040;
         cursor: pointer;
     }
     
     .numberBtn,
     .zeroBtn,
     .decimalBtn {
         width: 75px;
         background: radial-gradient(rgb(200, 200, 200), rgb(170, 170, 170));
     }
     
     .numberBtn:hover,
     .dblButton:hover,
     .zeroBtn:hover,
     .decimalBtn:hover {
         background: radial-gradient(rgb(170, 170, 170), rgb(140, 140, 140));
     }
     
     .numberBtn:active,
     .dblButton:active,
     .zeroBtn:active,
     .decimalBtn:active {
         background: rgb(140, 140, 140);
     }
     
     .operatorBtn {
         width: 75px;
         background: radial-gradient(rgb(130, 130, 130), rgb(100, 100, 100));
     }
     
     .operatorBtn:hover {
         background: radial-gradient(rgb(100, 100, 100), rgb(70, 70, 70));
     }
     
     .operatorBtn:active {
         background: rgb(70, 70, 70);
     }
     
     .dblButton {
         width: 152px;
         background: radial-gradient(rgb(200, 200, 200), rgb(170, 170, 170));
         margin: 1px 1px 1px 1px;
     }
     
     .clrButton {
         width: 229px;
         background: radial-gradient(rgb(255, 0, 0), rgb(210, 0, 0));
     }
     
     .clrButton:hover {
         background: radial-gradient(rgb(230, 0, 0), rgb(185, 0, 0));
     }
     
     .clrButton:active {
         background: rgb(185, 0, 0);
     }
     
     #math {
         color: white;
         font-size: 26px;
         text-align: right;
     }
     
     #history {
         color: white;
         font-size: 14px;
         text-align: right;
     }
     
     @media only screen and (max-width: 370px) {
         #calcContainer {
             width: 270px;
         }
         #display {
             width: 244px;
             height: 61px;
         }
         .numberBtn,
         .operatorBtn,
         .zeroBtn,
         .decimalBtn {
             width: 61px;
             height: 61px;
             line-height: 61px;
         }
         .dblButton {
             width: 122px;
             height: 61px;
             line-height: 61px;
         }
         .clrButton {
             width: 183px;
             height: 61px;
             line-height: 61px;
         }
         #math {
             font-size: 22px;
         }
     }